<!DOCTYPE html>
<html>
  <head>
    <title>Traveltwitter</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <% if user_signed_in? %>
      <li><%= button_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li><%= link_to "新規登録", new_user_registration_path %></li>
      <li><%= link_to "ログイン", new_user_session_path %></li>
    <% end %>

  <body>
    <%= yield %>
  </body>

  <script src="//maps.google.com/maps/api/js?key=<%= ENV['GMAP_API_KEY'] %>">
    </script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js">
    </script>
  </head>
</html>
